*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: linear-gradient(rgba(0,0,0,0.9),
    rgba(0,0,0,0.6))
    ,url('../images/mac4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:auto;
}

header{
    background-color: springgreen;

}


nav ul{

    position:fixed;
    transition:ease 0.2s;
    background-color: white;
    top:-1000px;
    width:100%;
    border-bottom:solid 4px #3f7d20;
}
nav ul li {
    list-style: none;
    display:block;
}
#sidebar-1 #upper{
    padding:10px 10px;

}
nav ul li a{
    text-decoration: none;
    color:#000;      
    padding:10px 90px ;
    display:block;
    

}
nav ul li:hover{
    background-color: #41e332;
    color:white;
}
nav img{
    padding:15px 30px;
}


#main-content{
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:100%;
    background-color: salmn;
    width:90%;
    margin:auto;
}



#main-content p{
    flex:100%;
    background-color: steelblue;
    padding:10px;
}

#intro{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:solid 2px #41e332;
    background:linear-gradient(to right, rgba(0,0,0,0.7),
    rgba(0,250,0,0.05));
    border-radius: 20px;
    color:white;
    font-family: sans-serif;
    flex:100%;
    border-right: hidden;
    border-top: hidden;
}
#intro h4{
    flex:60%;
    padding:10px;
    border-radius: 10px;   
    height:100%;
}
#img1{
    flex:40%;
    
}
#intro img{
    max-width: 70%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:5px;

}


@media screen and (min-width:800px){
body{
    width:50%;
    margin:auto;
}
}